$color-1st: #02006b;
$color-2nd: #ffff;

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;

$icon-url-products: 'https://img.icons8.com/product.png';
$icon-url-users: 'https://img.icons8.com/ios-glyphs/30/group.png';
$icon-url-categories: 'https://img.icons8.com/ios-glyphs/30/category.png';
$icon-url-orders: 'https://img.icons8.com/external-icongeek26-outline-icongeek26/64/external-box-logistics-delivery-icongeek26-outline-icongeek26.png';

.container {
  display: flex;
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  // position: fixed;
  z-index: 2;
  width: 97vw;
  height: 100%;
  overflow-y: auto;
  //  background-color: rgb(182, 92, 144);
}

.sidebar-body {
  margin-top: 0.01rem;
  height: 87vh;
  color: #000;
  background: #fff;

  // border-radius: 50px;
  padding-left: $menu-width-desktop;

  .menu {
    width: $menu-width-desktop;
    position: fixed;
    left: 0;
    // z-index: 5;
    outline: none;

    .avatar {
      padding: 2em 0.5em;
      text-align: center;
      cursor: pointer;

      img {
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid $color-1st;
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);

        &:hover {
          box-shadow: $color-1st 0px 3px 9px 0px;
        }
      }

      h2 {
        font-weight: normal;
        margin: 0.5em 0em 0em 0em;
      }

      h4 {
        font-weight: normal;
        font-size: medium;
        color: gray;
        margin: 0;
      }
    }

    ul {
      list-style: none;
      padding: 0.5em 0;
      margin: 0;

      .span {
        text-decoration: none;
        color: #000;
      }

      li {
        padding: 0.5em 1em 0.5em 3em;
        font-size: 1.1rem;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        cursor: pointer;

        &.icon-products {
          background-image: url($icon-url-products);
        }
        &.icon-users {
          background-image: url($icon-url-users);
        }
        &.icon-categories {
          background-image: url($icon-url-categories);
        }
        &.icon-orders {
          background-image: url($icon-url-orders);
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  // body {
  //   padding-left: $menu-width-tablet;
  // }
  // .container {
  //   min-width: 99vw;
  // }
  .sidebar-body {
    padding-left: $menu-width-tablet;
    height: 100%;
    margin-top: 6rem;

    .menu {
      width: $menu-width-tablet;
      background-color: #fff;
      border-radius: 20px;

      .avatar {
        padding: 1em 0.5em;
        position: relative;
        img {
          width: $menu-width-tablet - 30px;
        }

        h2,
        h4 {
          opacity: 0;
          position: absolute;
        }
      }

      ul {
        li {
          height: calc($menu-width-tablet / 1.5);
          background-position: center center;
          background-size: 30px auto;
          color: rgba(0, 0, 0, 0); //////////////////////////////////////
          position: relative;

          .span {
            //display:none;
            opacity: 0;
            color: #fff;
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            padding: 0.2em 0.5em;
            border-radius: 4px;
            top: 50%;
            left: $menu-width-tablet - 10px;
            transform: translate3d(-15px, -50%, 0);
            transition: all 0.15s ease-in-out;

            &:before {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              top: 50%;
              left: -5px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-right: 5px solid rgba(0, 0, 0, 0.5);
              transform: translateY(-50%);
            }
          }

          &:hover {
            .span {
              opacity: 1;
              transform: translate3d(0px, -50%, 0);
            }
          }
        }
      }
    }
  }
}
